*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.bar-4{
    margin-top: 10px;
    height: 7px;
    width: 100%;
    background: #DCDDE0;
    border-radius: 5px;
}

.bar-4 span{
    height: 7px;
    width: 80%;
    background:#23395B;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.wrapper form{
  height: 250px;
  width: 430px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #667080;
  background-color: #EEF1F4;
  border-radius: 10px;
}
form :where(i, p){
  font-size: 20px !important;
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}