*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-body{
    width: 100vw;
    height: 100vh;
    background: #FBFCFC;
   position: relative;
}

.login-body .card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-body .sign-up-stage-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}