*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sign-up-card-content{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.form-group label{
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group select{
    width: 430px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #406E8E;
}

.sign-up-btns{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    margin-top: 40px;
}

.sign-up-btns button{
    width: 110px;
    height: 35px;
    border-radius: 30px;
}

.sign-up-btns button:nth-child(1){
    background: #fff;
    border: 1px solid rgb(32, 32, 32);
}

.sign-up-btns button:nth-child(2){
    background: #23395B;
    border: 1px solid rgb(32, 32, 32);
    color: #fff;
}

.bar{
    margin-top: 10px;
    height: 7px;
    width: 100%;
    background: #DCDDE0;
    border-radius: 5px;
}

.bar span{
    height: 7px;
    width: 20%;
    background:#23395B;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.progress-step{
    text-align: left;
    font-size: 18px;
}